/[Bb]uilds/
/[Vv]ideos/
/[Oo]thers/
/Unity/Graveyard/
geçici.png
Göndermeden Önce.txt
Screenshots.lnk
Toplantı Konuları.txt
Videos.lnk
Yapılacaklar.docx
Yapılacaklar.txt
Design/Geçici.txt
Refactoring.txt
Denenebilecek Şeyler.txt
Kodlama Süreleri.txt
Planlama.txt
Yapabileceklerim.txt
~$pılacaklar.docx
Unity/Dreams of the Dead God/Assets/Sprites/Others.meta
Kodlama.txt
Narrative/Notlar.docx
Berkin.txt
Çelınc Tipleri.txt
GDD.txt
Design/bir şeyler.kra
Design/bir şeyler.png
Toplantı Öğeleri.txt
Yapılacaklar (Eski).txt
Yeni Sistem.txt
Prototip İçin Gereklilikler.txt
Tasarlanacaklar.txt
Game Arts/Concepts/Characters/DarrenGörkemVersion.png
